body{
    padding-top: 120px;
    margin: 0;
    display: flex;
    justify-content: center;     
    /*background: linear-gradient(45deg, #0072CE, #ffffff, #0072CE);*/
    background: linear-gradient(45deg, #c0392b, #2c3e50);
    padding: 120px 10px 50px;


}

.centro{
    align-self: center;
    margin-bottom: 15px;
}

.logo{
    position: absolute;
    top: 13px; 
    left: 12px; 
    max-width: 100px; 
    height: 100px;
    
}

.titulo{  
    margin-bottom: 20px;
    font-weight: 1000;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

form {  
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.form-label {
    background-color: rgb(116, 106, 106);
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1.6rem;
    font-weight: bold;
    
}

.pad{
    padding-left: 30px;
}

.form-label input {
    padding: 0.3rem;
    border: 0;
    border-radius: 8px;
}

.form-label select{
    padding: 0.3rem;
    border: 0;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 2px 5px gainsboro;
    background-color: rgb(116, 106, 106);;
    border-radius: 8px;
    width: 25%;
}


/*#error-msg{
    font-family: 'Poppins',sans-serif;
}*/

#error-msg{
    display: none;
    color: #ff2851;
    font-size: 14px;
    margin-top: 10px;
}

.but {
    justify-self: center;
    background-color: #FF4B2B;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .but:hover {
    background-color: #e43e26;
  }



